{% for all_authors in site.authors %}
{% if all_authors.name == page.name %}
{% assign author = all_authors %}
{% endif %}
{% endfor %}

<div 
  {% if page.layout == 'tag' or page.layout == 'category' or page.layout == 'search' %} 
    class="entry-header-meta"
  {% elsif page.layout == 'home' %}
    class="entry-header-home" 
  {% elsif page.layout == 'author' %}
    class="entry-header-author" 
  {% endif %}>
  {% include header-menu-top.html %}
  <div 
      {% if page.layout == 'tag' or page.layout == 'category' or page.layout == 'search' %} 
        class = "header-title header-archive"
      {% elsif page.layout == 'author' %}
        class = "header-title header-author"
      {% else %}
        class = "header-title"
      {% endif %}>
    {% if page.layout == 'home' %}
    <div class="header-title-wrap-outline">
        <div class="header-title-wrap">
            <ul class="header-title-wrap-ul">
              {% if site.recruit_mode %}
                <p class="header-title-description">{{ site.description_recruit | newline_to_br }}</p>
              {% else %}
                <p class="header-title-description">{{ site.description | newline_to_br }}</p>
              {% endif %}
              <div id="button-hover-div" 
                      {% if site.recruit_mode %}
                        class="button-hover-div"
                      {% else %}
                        class="button-hover-div recruit-hidden"
                      {% endif %}>
                  <button {% if site.recruit_mode %}
                            class="recruit-button" 
                          {% else %} 
                            class="recruit-button recruit-hidden"
                          {% endif %} id="recruit-button" type="button" name="button" onclick="location.href = '{{ site.recruit_url }}' ">
                    <div class="recruit-button-inline">
                      <span class="recruit-button-text">진행중인 채용</span>
                      <img id="recruit-button-arrow" class="recruit-button-img" src="{{site.url}}/{{ site.resource_dir }}/ic-arrow.svg" alt="">
                    </div>
                  </button>
              </div>
            </ul>
            {% if site.recruit_mode %}
              <img class="img-main recruit-main-img" src="{{site.url}}/assets/images/resource/img-main-recruit-on.png" />
            {% else %}
              <img class="img-main" />
            {% endif %}
          </div><!-- /.header-title-wrap -->
    </div>
    {% elsif page.layout == 'tag' or page.layout == 'category' or page.layout == 'search' %}
    <div class="header-title-wrap-tag-outline">
      <div class="header-title-wrap-tag">
        <ul class="header-title-wrap-tag-inline">
          {% if page.layout == 'tag' %}
            {% assign tag_name = page.name | replace:".html","" | replace:"-"," " | capitalize %}
            <span class="meta-title">Tag : {{ tag_name }}</span>
            <!-- <p>{{ page.description | newline_to_br }}</p> -->
          {% elsif page.layout == 'category' %}
            <span class="meta-title">Category : {{ page.name }}</span>
          {% elsif page.layout == 'search' %}
            <span id="user-input-text" class="meta-title">검색어 입력 완료</span><span id="user-input-text-sub" class="meta-title-result">에 대한 결과</span>
          {% endif %}
        </ul>
      </div>
    </div>
    {% elsif page.layout == 'author' %}
    <div class="header-title-wrap-author-outline">
      <div class="header-title-wrap-author">
        <div class="header-title-wrap-author-inline">
          <div class="header-author-detail">
            <div>
              <img class="header-author-img" src="/assets/images/authors/{{ author.profileImage }}" alt="{{author.name}}" />
            </div>
            <div class="header-author-detail-inline" >
              <span class="header-author-name">{{author.name}}</span>
              <p style="margin: 0px; margin-top: -7px;"><span class="header-author-position">{{author.position}}</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  </div><!-- /.header-title -->
</div><!-- /.entry-header -->


<nav id="menu" style="display: none; min-width: 100%;">
  <ul>
    {% for menu in site.menu %}
      {% if menu.type == 'categories' %}
        <li>
          <a href="{{site.url}}{{menu.url}}">
            {% for item in (0..cats_list.size) %}{% unless forloop.last %}
            {% capture this_word %}{{ cats_list[item] | strip_newlines }}{% endcapture %}
            {% assign downcase_word = this_word | downcase %}
            <h3><a href="{{site.url}}/category/{{downcase_word}}">{{this_word}}</a></h3>
            {% endunless %}{% endfor %}
            <h3>{{ menu.title }}</h3>
          </a>
          <ul>
            {% for item in (0..cats_list.size) %}{% unless forloop.last %}
            {% capture this_word %}{{ cats_list[item] | strip_newlines }}{% endcapture %}
            {% assign downcase_word = this_word | downcase %}
            <li><a href="{{site.url}}/category/{{downcase_word}}">{{this_word}}</a></li>
            {% endunless %}{% endfor %}
          </ul>
        </li>
      {% elsif menu.submenu %}
        <li>
          <a href="{{site.url}}{{menu.url}}">
            <h3>{{ menu.title }}</h3>
          </a>
          <ul>
            {% for sub in menu.submenu %}
              <li><a href="{{site.url}}{{sub.url}}">{{sub.title}}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% else %}
        <li>
          <a href="{{site.url}}{{menu.url}}">
            <h3>{{ menu.title }}</h3>
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>

{% if site.owner.twitter %}
<a href="https://twitter.com/{{site.owner.twitter}}" class="btn btn-info button-twitter" data-show-count="false"
  data-size="large"><i class="fa fa-twitter"></i> <span> | Follow @{{site.owner.twitter}}</span></a>
{% endif %}

<script type="text/javascript">
  
</script>