{% if paginator.total_pages > 1 %}

{% assign total_page_end_category = paginator.total_pages | | minus: 1 | divided_by: 5 %}
{% assign page_category = paginator.page | minus: 1 | divided_by: 5 %}
{% assign page_start = page_category | times: 5 | plus: 1 %}
{% assign page_end = page_start | plus: 4 %}

<div class="pagination">
  <ul class="pagination-inline-list">
    {% comment %} Link for previous page {% endcomment %}
    {% if paginator.previous_page and page_category != 0 %}
      {% if paginator.previous_page == 1 %}
        <li class="paginator-page-outline">
          <div class="page-outline">
              <a href="{{ site.url }}/" class="pagination-btn">
                <img class="pagination-icon" src="{{ site.url }}/{{ site.resource_dir }}/ic-backword-arrow.svg" alt="">
              </a>
          </div>
        </li>
      {% else %}
      <!-- KMEMO liquid plus / minus operator -->
        {% assign distance_prev = paginator.page | minus: 1 %}
        {% if distance_prev > 5 %}
          <li class="paginator-page-outline">
            <div class="page-outline">
                <a href="{{ site.url }}/page{{ paginator.page | minus: 5 }}/" class="pagination-btn">
                  <img class="pagination-icon" src="{{ site.url }}/{{ site.resource_dir }}/ic-backword-arrow.svg" alt="">
                </a>
            </div>
          </li>
        {% else %}
          <li class="paginator-page-outline">
              <div class="page-outline">
                  <a href="{{ site.url }}/" class="btn">
                    <img class="pagination-icon" src="{{ site.url }}/{{ site.resource_dir }}/ic-backword-arrow.svg" alt="">
                  </a>
              </div>
          </li>
        {% endif %}
      {% endif %}
    {% endif %}

    {% for page_num in (page_start...page_end) %}
      {% if page_num > paginator.total_pages %}
        {% break %}
      {% else %}
        {% if page_num == paginator.page %}
          <li class="current-paginator-page-outline"> 
            <div class="page-outline">
              <div style="text-align: center;">
                  <span>
                      {{ page_num }}
                  </span>
              </div>
            </div>
          </li>
        {% else %}
          {% if page_num == 1 %}
            <li class="paginator-page-outline">
                <div class="page-outline">
                  <div>
                      <a href="{{ site.url }}/">
                        {{ page_num }}
                      </a>
                  </div>
                </div>
            </li>
          {% else %}
            <li class="paginator-page-outline">
                <div class="page-outline">
                    <a href="{{ site.url }}/page{{ page_num }}">
                      {{ page_num }}
                    </a>
                </div>
            </li>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% comment %}
      Link next page
    {% endcomment %}
    {% if paginator.next_page and page_category != total_page_end_category %}
      {% assign distance_next = paginator.total_pages | minus: paginator.page %}
      {% if distance_next  > 5 %}
        <li class="paginator-page-outline">
            <div class="page-outline">
                <a href="{{ site.url }}/page{{ paginator.page | plus: 5 }}/" class="pagination-btn">
                  <img class="pagination-icon" src="{{ site.url }}/{{ site.resource_dir }}/ic-foreword-arrow.svg" alt="">
                </a>
            </div>
        </li>
      {% else %}
        <li class="paginator-page-outline">
          <div class="page-outline">
            <div>
                <a href="{{ site.url }}/page{{ paginator.total_pages }}/" class="pagination-btn">
                  <img class="pagination-icon" src="{{ site.url }}/{{ site.resource_dir }}/ic-foreword-arrow.svg" alt="">
                </a>
            </div>
          </div>
        </li>
      {% endif %}
    {% endif %}
  </ul>
</div>
{% endif %}