<article class="hentry_index" style=" cursor: pointer;" OnClick="location.href='{{ site.url}}{{ post.url }}'">
  <div class="hentry_text">
    <header>
      {% for all_authors in site.authors %}
        {% if post.author %}
          {% if all_authors.name == post.author %}
            {% assign author = all_authors %}
          {% endif %}
        {% else %}
          {% assign author = false %}
        {% endif %}
      {% endfor %}
      <div class="entry-meta">
        <span class="entry-date date published updated">
          <time datetime="{{ post.date | date_to_xmlschema }}" class="index-datetime">
            <a href="{{ site.url }}{{ post.url }}">{{ post.date | date: "%Y.%m.%d" }}</a>
          </time>
        </span>
      </div><!-- /.entry-meta -->
      {% if post.link %}
        <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" class="permalink" rel="bookmark" title="{{ post.title }}"><i class="fa fa-bookmark"></i></a> <a href="{{ post.link }}">{{ post.title }}</a></h1>
      {% else %}
        <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></h1>
      {% endif %}
    </header>
    <div class="article entry-content">
      {{ post.content | strip_html | truncatewords: 40 }}
      {% if post.content contains "<!-- more -->" %}
      <div align="center">
        <div markdown="0"><a href="{{ site.url }}{{ post.url }}" class="btn btn-info">Continue Reading ...</a></div>
      </div>
      {% endif %}
    </div><!-- /.entry-content -->
    {% include index_tagging.html %}
  </div>
  {% include author-profile-small.html %}
</article><!-- /.hentry -->
