// Selection
// --------------------------------------------------
::-moz-selection {
	background-color: lighten($base-color, 65%);
	color: $base-color;
	text-shadow: none;
}
::selection {
	background-color: lighten($base-color, 65%);
	color: $base-color;
	text-shadow: none;
}

// Global Classes
// --------------------------------------------------
.wrap {
	margin: 0 auto;
}
.all-caps {
	text-transform: uppercase;
}
.image-left {
	float: none;
	@media #{$medium} {
		float: left;
	}
}
.image-right {
	float: none;
	@media #{$medium} {
		float: right;
	}
}
.unstyled-list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	li {
		list-style-type: none;
	}
}
.inline-list {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
	li {
		list-style-type: none;
		display: inline;
	}
}
.pagination-inline-list {
  display: table;
  list-style: none;
  margin: 0 auto;
  border-spacing: 4px;
  padding-left: 0;
  li {
    vertical-align: middle;
    list-style-type: none;
    display: table-cell;
    a {
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: -0.24px;
      text-align: center;
      color: #7ea7fd;

      @media #{$small} {
        font-size: 12px;
      }
    }
    span {
      font-size: 12px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: -0.24px;
      text-align: center;
      color: #7ea7fd;
      
      @media #{$small} {
        font-size: 12px;
      }
    }
	}
}

.pagination-icon {
  margin-bottom: 1.7px;
  vertical-align: bottom;

  @media #{$small} {
    vertical-align: bottom;
  }
}

.paginator-page-outline {
	width: 36px;
  height: 36px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  
  @media #{$large} {
    &:hover {
      background-color: rgba(96, 139, 228, 0.05);
    }
  }
}

.current-paginator-page-outline {
	width: 36px;
  height: 36px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
  background-color: rgba(126, 167, 253, 0.1);
}
.page-outline {
  transform: translateY(-2px);
  margin: 0 auto;
}

// Global Transition
// ---------------------------------------------------
b, i, strong, em, blockquote, p, q, span, figure, img, h1, h2, header, input, a {
	@include transition(all .2s ease);
}
