// Typography
// --------------------------------------------------

$base-font: 'Lato', Calibri, Arial, sans-serif;
$heading-font: $base-font;
$caption-font: $base-font;
$code-font: monospace;
$alt-font: serif;

$doc-font-size: 16;
$doc-line-height: 26;


// set-up the body font-size / line-height
body {
	font-size: 0px + $doc-font-size;
}


// Colors
// --------------------------------------------------
$base-color				 : rgba(#222,0.8);
$header-color			 : rgba(#000,0.8);
$sub-item-color			 : rgba(#000, 0.1);
$category-top-color : #7EA7FD;
$header-margin			 : #F45145;
$menu-top				 : transparent;
$menu-category-bg : #FFFFFF;
$menu-height			 : 70px;
$logo-width : 64px;
$logo-height : 30px;
$menu-overflow			 : #2E2E2E;
$body-color      		 : #f7f8fa;
$text-color      		 : rgba(#222,0.8);
$comp-color 	 		 : complement(#222);
$border-color    		 : lighten(#222,60);
$white           		 : #fff;
$black           		 : #000;
$link-color 		     : rgba(#222,0.8);

$primary			     : #222;
$success			     : #5cb85c;
$warning			     : #dd8338;
$danger				     : #C64537;
$info				     : #308cbc;

$margin-header-adImage: 40px;
$height_adImage_small: 80px;
$height_adImage_large: 130px;

$main_max_width: 800px;

$phone_header_menu_height: 55px;
$phone_padding_main: 0 16px; 
$phone_header_height: 250px; 
$phone_padding_index_post: 24px 15px 0px 15px;

// Screen Size
// --------------------------------------------------

$small               : "only screen and (max-width: 600px)";
$medium              : "only screen and (min-width: 768px)";
$large               : "only screen and (min-width: 860px)";


$response_border_min : "only screen and (min-width: 768px)";
$response_border_max : "only screen and (max-width: 768px)";

$site_url : "https://raeminkang.github.io/";