---
layout: home
title: categories
---

{% assign total_category_num = 0 %}
{% for post in site.posts %}
  {% assign post_category_name = post.categories | downcase %}
  {% assign search_category_name = page.name | downcase %}
  {% if post_category_name contains search_category_name %}
    {% assign total_category_num = total_category_num | plus: 1 %}
  {% endif %}
{% endfor %}

<div style="margin-bottom:20px;">
  <span class="total_meta_num">전체 {{ total_category_num }}</span>
</div>

<!-- KMEMO page.name -> _tags/태그명.md 파일에 들어있는 name 변수 -->
{% for post in site.posts %}
  {% assign post_category_name = post.categories | downcase %}
  {% assign search_category_name = page.name | downcase %}
  {% if post_category_name contains search_category_name %}
    {% include post_article.html %}
  {% endif %}
{% endfor %}